.navbar-inverse .navbar-form{
    margin-right: 30px;
    position: relative;
}

.navbar-form input[type="text"]{
    border: none;
    color: #999;
}

.navbar-form button[type="submit"]{
    background: none;
    border: none;
    position: absolute;
    color: #313131;
    right: 16px;
    top: 8px;
}

.profile{
    margin-top: 10px;
}

.ft-size{
    font-size: 12px;
}

.ft-color{
    color: #666;
}

.diggit{
    background: rgba(0, 0, 0, 0) url("../images/upup.gif") no-repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 52px;
    margin-top: 2px;
    text-align: center;
    text-indent: 0;
    width: 46px;
}

.diggnum{
    color: #075db3;
    font-family: Verdana;
    font-size: 14px;
    line-height: 2.2em;
}