/*实现圆角*/
.radius{
    border-radius: 4px;
}

/*去除圆角*/
.unradius{
    border-radius: 0px;
}

/*页码输入框*/
.pageNumInput{
    width: 28px;
    text-align: center;
    background: none;
    text-indent: 0;
    border: 1px solid #ddd;
}

/*重新设置column的宽度，以及左间距*/
.re_col{
    width: 97%;
    margin-left: 14px;
}

/*设置column没有内间距*/
.col_no_padding{
    padding: 0px;
}

.col_noLeft_padding{
    padding-left: 0px;
}

.col_noRight_padding{
    padding-right: 0px;
}


.area_height{
    height: 280px;
}

.txt-p{
    height: 50px;
}

/*设置字体的大小*/
.text-xs_size{
    font-size: 12px;
}

.text-sm_size{
    font-size: 14px;
}

.text-md_size{
    font-size: 16px;
}

.text-lg_size{
    font-size: 18px;
}

/*内容超出则隐藏*/
.txt-overflow{
    overflow: hidden;
}

/*ul列表的第一个li不设置上边框*/
.line-li li:first-child{
    border-top: none;
}

/*设置ul列表li的上边框*/
.line-li li{
    height: 30px;
    line-height: 30px;
    border-top: 1px dotted #cccccc;
}

/*设置ul中的li的字体大小、颜色、左间距*/
.li_left li{
    font-size: 13px;
    color:rgba(0,0,0,.6);
    margin-left: 16px;
}

/*设置ul中的li的字体大小、颜色、左间距，一般用于二级导航*/
.font-li li a{
    font-size: 12px;
    color: #232323;
    margin-left: 10px;
}

/*设置水平li之间的上下左右间距*/
.margin_list{
    margin: 10px 0px;
}
.margin_list li{
    margin-left: 20px;
}

.ul_li_top li{
    margin-top: 7px;
}

/*设置背景颜色*/
.back{
    background: rgba(0,0,0,.05);
}
.white{
    background: #fff;
}

/*设置边框及其颜色*/
.border{
    border: 1px solid #d4d4d4;
}

/*设置没有上边框*/
.no_top_border{
    border-top: none;
}


/*设置元素没有下间距*/
.no_margin_bottom{
    margin-bottom: 0px;
}

/*设置元素没有上间距*/
.no_margin_top{
    margin-top: 0px;
}



/*媒体对象media中设置文本内容显示的最大高度，超出的隐藏*/
.format_txt{
    height: 42px;
    text-overflow: ellipsis;
}

/*设置元素下1px下虚线*/
.bottom_dotted{
    border-bottom: 1px dotted #d4d4d4;
}

/*设置1px的水平虚线，用于分割内容*/
.dotted{
    height: 1px;
    border-bottom: 1px dotted #d4d4d4;
    width: 94%;
    margin: 0px auto;
}

.all_dotted{
    height: 1px;
    border-bottom: 1px dotted #d4d4d4;
    width: 100%;
}

/*设置li的宽度，超出则隐藏*/
.li_overflow li{
    width: 88%;
    overflow: hidden;
    margin: 0px 7% 0px 5%;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.li_overflow li a{
    color: #843534;;
}

/*纯粹设置ul下的li的上边框*/
.list_bottom_border li{
    border-bottom: 1px dotted #cccccc;
}

.list_bottom_border li:last-child{
    border-bottom: none;
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    margin-top: 70px;
    padding: 30px 0;
}


/*有一定上下间隔、居中的虚线*/
.margin_tb_dotted{
    width:94%;
    margin: 8px 3%;
    height: 1px;
    border-bottom: 1px dotted #c0c0c0;
}

/*纯粹一条虚线*/
.all_bottom_border{
    border-bottom: 1px dotted #cccccc;
}

/*段落缩进*/
.retract{
    text-indent:2em;
}

/*鼠标手形*/
.mouse_pointer{
    cursor: pointer;
}
/*-----------------------------全局样式start---------------------------*/
/*---外间距margin设置----*/
.ele_margin_top4{
    margin-top: 4px;
}

.ele_margin_top8{
    margin-top: 8px;
}

.ele_margin_top10{
    margin-top: 10px;
}

.ele_margin_top15{
    margin-top: 15px;
}

.ele_margin_top20{
    margin-top: 20px;
}

.ele_margin_top25{
    margin-top: 25px;
}

.ele_margin_top30{
    margin-top: 30px;
}

.ele_margin_top40{
    margin-top: 40px;
}

.ele_margin_bottom4{
    margin-bottom: 4px;
}

.ele_margin_bottom8{
    margin-bottom: 8px;
}

.ele_margin_bottom10{
    margin-bottom: 10px;
}

.ele_margin_bottom15{
    margin-bottom: 15px;
}

.ele_margin_bottom20{
    margin-bottom: 20px;
}

.ele_margin_bottom25{
    margin-bottom: 25px;
}

.ele_margin_bottom30{
    margin-bottom: 30px;
}

.ele_margin_bottom40{
    margin-bottom: 40px;
}

.ele_margin_left4{
    margin-left: 4px;
}

.ele_margin_left8{
    margin-left: 8px;
}

.ele_margin_left10{
    margin-left: 10px;
}

.ele_margin_left15{
    margin-left: 15px;
}

.ele_margin_left20{
    margin-left: 20px;
}

.ele_margin_left25{
    margin-left: 25px;
}

.ele_margin_left30{
    margin-left: 30px;
}

.ele_margin_left40{
    margin-left: 40px;
}

.ele_margin_right4{
    margin-right: 4px;
}

.ele_margin_right8{
    margin-right: 8px;
}

.ele_margin_right10{
    margin-right: 10px;
}

.ele_margin_right15{
    margin-right: 15px;
}

.ele_margin_right20{
    margin-right: 20px;
}

.ele_margin_right25{
    margin-right: 25px;
}

.ele_margin_right30{
    margin-right: 30px;
}

.ele_margin_right40{
    margin-right: 40px;
}

.ele_no_right_margin{
    margin-right: 0px;
}

.ele_no_left_margin{
    margin-left: 0px;
}

.ele_no_lr_margin{
    margin-left: 0px;
    margin-right: 0px;
}

.ele_no_tb_margin{
    margin-top: 0px;
    margin-bottom: 0px;
}

.ele_no_margin{
    margin: 0px;
}

/*---元素内间距padding设置---*/
.ele_paddingtop4{
    padding-top: 4px;
}

.ele_padding_top8{
    padding-top: 8px;
}

.ele_padding_top10{
    padding-top: 10px;
}

.ele_padding_top15{
    padding-top: 15px;
}

.ele_padding_top20{
    padding-top: 20px;
}

.ele_padding_top25{
    padding-top: 25px;
}

.ele_padding_top30{
    padding-top: 30px;
}

.ele_padding_top40{
    padding-top: 40px;
}

.ele_padding_bottom4{
    padding-bottom: 4px;
}

.ele_padding_bottom8{
    padding-bottom: 8px;
}

.ele_padding_bottom10{
    padding-bottom: 10px;
}

.ele_padding_bottom15{
    padding-bottom: 15px;
}

.ele_padding_bottom20{
    padding-bottom: 20px;
}

.ele_padding_bottom25{
    padding-bottom: 25px;
}

.ele_padding_bottom30{
    padding-bottom: 30px;
}

.ele_padding_bottom40{
    padding-bottom: 40px;
}

.ele_padding_left4{
    padding-left: 4px;
}

.ele_padding_left8{
    padding-left: 8px;
}

.ele_padding_left10{
    padding-left: 10px;
}

.ele_padding_left15{
    padding-left: 15px;
}

.ele_padding_left20{
    padding-left: 20px;
}

.ele_padding_left25{
    padding-left: 25px;
}

.ele_padding_left30{
    padding-left: 30px;
}

.ele_padding_left40{
    padding-left: 40px;
}

.ele_margin_right4{
    margin-right: 4px;
}

.ele_padding_right8{
    padding-right: 8px;
}

.ele_padding_right10{
    padding-right: 10px;
}

.ele_padding_right15{
    padding-right: 15px;
}

.ele_padding_right20{
    padding-right: 20px;
}

.ele_padding_right25{
    padding-right: 25px;
}

.ele_padding_right30{
    padding-right: 30px;
}

.ele_padding_right40{
    padding-right: 40px;
}

.ele_no_left_padding{
    padding-left: 0px;
}

.ele_no_right_padding{
    padding-right: 0px;
}

.ele_no_lr_padding{
    padding-left: 0px;
    padding-right: 0px;
}

.ele_no_tb_padding{
    padding-top: 0px;
    padding-bottom: 0px;
}

.ele_no_padding{
    padding: 0px;
}
/*设置字体颜色*/
.text-gray666{
    color: #666;
}

.text-black{
    color: #0f0f0f;
}

/*设置字体大小*/
.text-size-10{
    font-size: 10px;
}

.text-size-12{
    font-size: 12px;
}

.text-size-14{
    font-size: 14px;
}

.text-size-15{
    font-size: 15px;
}

.text-size-16{
    font-size: 16px;
}

.text-size-18{
    font-size: 18px;
}

.text-size-20{
    font-size: 20px;
}

.text-size-22{
    font-size: 22px;
}






/*-----------------------------全局样式end---------------------------*/


