body{
    padding: 50px;
    background: rgba(239,239,239,0.5);
}

.blog_top_background{
    background: rgba(154, 52, 2, 1);
    height: 150px;
}
.h_bottom{
    border-bottom: 2px solid #efefef;
    padding: 10px 15px;
    font-weight: bold;
}
.select_padding{
    padding: 2px 6px;
}

/*设置高度*/
.multi_overflow{
    height: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
}

/*单行，超过单行则隐藏*/
.single_overflow{
    width:60%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}


