
.blog_top_background{
    background: rgba(154, 52, 2, 1);
    height: 150px;
}

/*»√ulæ”÷–*/
.ul_center{
    width: 79%;
    margin: 0px 11%;
}

.ul_center ul li .user{
    width: 62px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

